{% extends "dashboard/Dashboard.html" %} 
{% block title %}User Task Management Dashboard{% endblock title %}
{% block tasks %}
<!-- task grid -->
<div class="bg-white rounded-xl shadow-xm">
  <div
    class="grid grid-cols-4 p-4 border-b border-gray-100 text-sm text-gray-500"
  >
    <h1>TASK TITLE</h1>
    <h1>PRORITY</h1>
    <h1>TEAM</h1>
    <h1>CREATED AT</h1>
  </div>
  <!-- task items -->
  <div class="divide-y divide-gray-100">
    <!-- 1st row -->
    <div class="grid grid-cols-4 p-4 gap-4 items-center">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
        <h1 class="text-sm">Test Low Task</h1>
      </div>
      <div>
        <span class="text-blue-600 bg-blue-50 px-3 py-1 text-sm">Low</span>
      </div>
      <div>
        <div class="flex -space-x-2">
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            S
          </button>
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            MS
          </button>
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            SM
          </button>
        </div>
      </div>
      <div>
        <span class="text-sm text-gray-500">9 month ago</span>
      </div>
    </div>
    <!-- 2nd row -->
    <div class="grid grid-cols-4 p-4 gap-4 items-center">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
        <h1 class="text-sm">Test Task</h1>
      </div>
      <div>
        <span class="text-gray-600 bg-gray-50 px-3 py-1 text-sm">Normal</span>
      </div>
      <div>
        <div class="flex -space-x-2">
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            S
          </button>
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            MS
          </button>
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            SM
          </button>
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            MM
          </button>
        </div>
      </div>
      <div>
        <span class="text-sm text-gray-500">9 month ago</span>
      </div>
    </div>
    <!-- 3rd row -->
    <div class="grid grid-cols-4 p-4 gap-4 items-center">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-orange-500 rounded-full"></div>
        <h1 class="text-sm">Test Task</h1>
      </div>
      <div>
        <span class="text-red-600 bg-red-50 px-3 py-1 text-sm">High</span>
      </div>
      <div>
        <div class="flex -space-x-2">
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            MS
          </button>
          <button
            class="w-8 h-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white hover:text-gray flex items-center justify-center text-sm border-2 border-white"
          >
            SM
          </button>
        </div>
      </div>
      <div>
        <span class="text-sm text-gray-500">9 month ago</span>
      </div>
    </div>
  </div>
</div>
{% endblock tasks %}
