{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <div class="w-1/2 mx-auto mt-8">
      <div class="mb-4">
        {% if messages %}
          {% for message in messages %}
            <div class="p-3 rounded-md mb-2 {% if message.tags == 'success' %}bg-green-100 text-green-800 border-l-4 border-green-500{% elif message.tags == 'error' %}bg-red-100 text-red-800 border-l-4 border-red-500{% else %}bg-blue-100 text-blue-800 border-l-4 border-blue-500{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <form method="POST">
        <div class="mb-8 text-center">
          <h1 class="text-3xl font-extrabold text-gray-900">{% if is_edit %}Edit Task{% else %}Create New Task{% endif %}</h1>
        </div>
        {% csrf_token %} 
        <h2 class="text-xl font-bold mb-4">Task Information</h2>
        {{ task_form.as_p }}
        
        <h2 class="text-xl font-bold mt-8 mb-4">Task Details</h2>
        {{ details_form.as_p }}

          <div class="mt-12">
            <button
              type="submit"
              class="w-full bg-indigo-600 text-white font-bold py-4 px-6 rounded-xl hover:bg-indigo-700 focus:outline-none transition-all duration-200 shadow-lg transform hover:-translate-y-1 active:translate-y-0"
            >
              {% if is_edit %} Update Task{% else %} Create Task{% endif %}
            </button>
          </div>
      </form>
    </div>
  </body>
</html>
